@import "tailwindcss";

/* css for firefox browser */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/* Note "*" means all elements  */

/* css For Chrome, Safari, Edge (WebKit browsers) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.7);
}
